TestJNIReference/TestJNIReference/x64/Debug/vc141.idb
TestJNIReference/.vs/TestJNIReference/v15/.suo
TestJNIReference/.vs/TestJNIReference/v15/Browse.VC.opendb
TestJNIReference/.vs/TestJNIReference/v15/ipch/AutoPCH/2193a1b38018f0ab/TESTJNIREFERENCE.ipch
TestJNIReference/TestJNIReference/x64/Debug/TestJNIReference.obj
TestJNIReference/TestJNIReference/x64/Debug/vc141.pdb
TestJNIReference/TestJNIReference/x64/Debug/TestJNIReference.tlog/TestJNIReference.write.1u.tlog
TestJNIReference/x64/Debug/TestJNIReference.dll
TestJNIReference/x64/Debug/TestJNIReference.ilk
TestJNIReference/x64/Debug/TestJNIReference.pdb
